<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center">
      <h3>Rizky Ian Hospital</h3>
      <hr style="border: 5px solid black" />
    </div>
    <p>Nomor Antrian: <b>{{total}}</b></p>
    <p>Atas Nama: {{nama}}</p>

    <img
      src="https://static.vecteezy.com/system/resources/previews/001/199/360/original/barcode-png.png"
      width="60%"
      height="30%"
    />
    <p>Mohon Menunggu</p>
    <p>{{date}}, <span>{{time}}</span></p>
    <hr style="border: 5px solid black" />
    Budayakan Antri untuk Kenyamanan Bersama
  </body>
</html>
